:ruby
  hotkeys_bindings_value = {
    j: '#js-todos-dashboard->todos#moveDown',
    k: '#js-todos-dashboard->todos#moveUp',
    l: '#js-todos-dashboard->todos#moveRight',
    h: '#js-todos-dashboard->todos#moveLeft',
    o: '#js-todos-dashboard->todos#openLink',
  }.to_json
  hotkeys_controlller_data = {
    data: {
      controller: 'hotkeys',
      'hotkeys-bindings-value': hotkeys_bindings_value,
    },
  }
%div{ hotkeys_controlller_data }
.bg-gray-200.h-screen#js-todos-dashboard{ data: { controller: 'todos' } }
  = yield
