.flow-root.h-full
  %ul.h-full.bg-gray-800.border-r.border-r-gray-500.overflow-y-auto.hidden-scrollbar{ data: { 'todos-target': 'todoList', controller: 'todo-list', action: 'focusin->todo-list#resetActiveTodoIndex' } }
    %li.bg-gray-700.border-b.border-b-gray-500.border-r-0.border-r-gray-500.p-2.sticky.top-0.h-10.w-full.opacity-80
      .flex.items-center.space-x-4
        .flex-1.min-w-0
          %p.text-sm.font-medium.text-white.text-center
            = title
    = render Todos::TodoComponent.with_collection(todos, list_key: key)
