%li.js-todo.focus:bg-gray-500.focus:border-gray-400.focus:outline-none.p-3{ tabindex: '-1', data: { 'todo-id': todo.tags[:id] } }
  .flex.items-center.space-x-4
    .flex-1.min-w-0
      %p.text-sm.font-medium.text-white
        = todo
      -#
        %p.text-sm.truncate.text-gray-400
          email@windster.com
    -#
      .inline-flex.items-center.text-base.font-semibold.text-white
        $320
