%li.p-3
  .flex.items-center.space-x-4
    .flex-1.min-w-0
      %p.text-sm.font-medium.text-white
        = todo
      %p.text-sm.truncate.text-gray-400
        email@windster.com
    .inline-flex.items-center.text-base.font-semibold.text-white
      $320
