.flow-root.h-screen
  %ul.h-screen.bg-gray-800.border-r.border-r-gray-500.js-todos
    %li.bg-gray-700.border-b.border-b-gray-500.border-r-0.border-r-gray-500.p-3
      .flex.items-center.space-x-4
        .flex-1.min-w-0
          %p.text-sm.font-medium.text-white.text-center
            = title
    = render partial: 'todo', collection: todos, as: :todo
