:ruby
  hotkeys_bindings_value = {
    j: '#js-todos-dashboard->todos#moveDown',
    k: '#js-todos-dashboard->todos#moveUp',
    l: '#js-todos-dashboard->todos#moveRight',
    h: '#js-todos-dashboard->todos#moveLeft',
    y: '#js-todos-dashboard->todos#copyEditCommand',
  }.to_json
  hotkeys_controlller_data = {
    data: {
      controller: 'hotkeys',
      'hotkeys-bindings-value': hotkeys_bindings_value,
    },
  }
%div{ hotkeys_controlller_data }
.bg-gray-200.h-screen#js-todos-dashboard{ data: { controller: 'todos' } }
  .flex.flex-row.bg-grey-200.overflow-visible
    .flex-none.h-screen.bg-gray-600.overflow-y-auto{ class: 'w-1/6' }
      .flow-root.h-screen
        %ul.h-screen.divide-y.divide-gray-500.bg-gray-700.js-todos
          %li.bg-gray-700.p-3
            .flex.items-center.space-x-4
              .flex-1.min-w-0
                %p.text-sm.font-medium.text-white
                  All
          = render partial: 'todo', collection: @todos, as: :todo
    .flex-none.h-screen.bg-grey-600{ class: 'w-5/6' }
      .grid.grid-cols-4.gap-0.h-full
        - @todos_by_project.each do |project, todos|
          .cal-1.bg-gray-600.border-gray-700.min-h-todo-list.overflow-y-auto
            .flow-root.h-screen
              %ul.h-screen.divide-y.divide-gray-500.border-x.border-gray-500.bg-gray-700.js-todos
                %li.bg-gray-700.p-3
                  .flex.items-center.space-x-4
                    .flex-1.min-w-0
                      %p.text-sm.font-medium.text-white
                        = project
                = render partial: 'todo', collection: todos, as: :todo
