.bg-gray-200.h-screen
  .flex.flex-row.bg-grey-400.overflow-visible
    .flex-none.h-screen.bg-blue-200.overflow-y-auto{class: 'w-1/6'}
      = (1..100).each do
        <div>hoge</div>
    .flex-none.h-screen.bg-green-200.overflow-y-auto{class: 'w-5/6'}
      .grid.grid-cols-4.gap-0.h-full
        .cal-1.bg-blue-800.min-h-todo-list
          Col1
        .cal-1.bg-green-800.min-h-todo-list
          Col2
        .cal-1.bg-yellow-800.min-h-todo-list
          Col3
        .cal-1.bg-pink-800.min-h-todo-list
          Col4
        .cal-1.bg-blue-400.min-h-todo-list
          Col1
        .cal-1.bg-green-400.min-h-todo-list
          Col2
        .cal-1.bg-yellow-400.min-h-todo-list
          Col3
        .cal-1.bg-pink-400.min-h-todo-list
          Col4
        .cal-1.bg-blue-800.min-h-todo-list
          Col1
        .cal-1.bg-green-800.min-h-todo-list
          Col2
        .cal-1.bg-yellow-800.min-h-todo-list
          Col3
        .cal-1.bg-pink-800.min-h-todo-list
          Col4
        .cal-1.bg-blue-400.min-h-todo-list
          Col1
        .cal-1.bg-green-400.min-h-todo-list
          Col2
        .cal-1.bg-yellow-400.min-h-todo-list
          Col3
        .cal-1.bg-pink-400.min-h-todo-list
          Col4
